.card {
    margin-top: 10px;
}

.subtitle {
    margin: 10px;
}

.mat-grid-tile {
    padding: 5px 0 0 0;
}

mat-form-field {
    width: 100%;
    margin: 10px;
}

.btnAceptar {
    margin-right: 5px;
}